name: vrcmx
description: "VRChat Mobile eXperience - Friendship management tool for VRChat on mobile."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  get: ^4.6.6
  http: ^1.2.2
  shared_preferences: ^2.2.2
  web_socket_channel: ^3.0.1
  socket_io_client: ^2.0.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
